{{#if logged_in}} 

<!--main content-->
<main>
    <div class="container">
        <div id="bench" class="row">
            <div id="chair" class="col s12 m12 center-align">
                <i class="fa fa-sticky-note fa-4x" aria-hidden="true"></i>
            </div>
        </div>


        <div class="row">
        <div class="col s12 m12">
            <h3 id="stool" class="center-align">Homework</h3>
        </div>
    </div>
        <div class="row">
            <div class="col s12 m6">
                <h6 id="stool" class="center-align">1. HTML-CSS</h6>
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Date</div>
                        <div class="collapsible-body"><p>6/20/2016</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="fa fa-sticky-note" aria-hidden="true"></i>Due</div>
                        <div class="collapsible-body"><p>6/27/2016</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="fa fa-stack-overflow" aria-hidden="true"></i>Resources</div>
                        <div class="collapsible-body">
                            <ol>
                                <!--Resources: need handlebars to inject links relative to the homework-->
                                <li class="resources_li_margin"><a href="http://www.w3schools.com/css/css_inline-block.asp">CSS Layouts</a></li>
                                <li class="resources_li_margin"><a href="http://www.w3schools.com/css/css_positioning.asp">CSS Positioning</a></li>
                                <li class="resources_li_margin"><a href="http://www.w3schools.com/css/css_float.asp">CSS Float</a></li>
                            </ol>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="fa fa-github" aria-hidden="true"></i>Project</div>
                        <div class="collapsible-body">
                            <ol>
                                <li><a href="https://github.com/UCF-Coding-Boot-Camp/06-16-VW-Class-Content/tree/master/homework-assignments/01-html-css">Github</a></li>
                            </ol>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="fa fa-upload" aria-hidden="true"></i>Submit</div>
                        <div class="collapsible-body">
                            <!--Copy homework link here-->
                            <input placeholder="" id="homework_link1" type="text" class="validate">
                            <label for="homework_link1"></label>
                            <!--Submit homework link just entered-->
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col s12 m6">
                <h6 id="stool" class="center-align">2. CSS-Bootstrap</h6>
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Date</div>
                        <div class="collapsible-body"><p>6/27/2016</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="fa fa-sticky-note" aria-hidden="true"></i>Due</div>
                        <div class="collapsible-body"><p>7/07/2016</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="fa fa-stack-overflow" aria-hidden="true"></i>Resources</div>
                        <div class="collapsible-body">
                            <ol>
                                <!--Resources: need handlebars to inject links relative to the homework-->
                                <li class="resources_li_margin"><a href="http://www.w3schools.com/css/css_inline-block.asp">CSS Layouts</a></li>
                                <li class="resources_li_margin"><a href="http://www.w3schools.com/css/css_positioning.asp">CSS Positioning</a></li>
                                <li class="resources_li_margin"><a href="http://www.w3schools.com/css/css_float.asp">CSS Float</a></li>
                            </ol>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="fa fa-github" aria-hidden="true"></i>Project</div>
                        <div class="collapsible-body">
                            <ol>
                                <li><a href="https://github.com/UCF-Coding-Boot-Camp/06-16-VW-Class-Content/tree/master/homework-assignments/02-html-css-bootstrap">Github</a></li>
                            </ol>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="fa fa-upload" aria-hidden="true"></i>Submit</div>
                        <div class="collapsible-body">
                            <!--Copy homework link here-->
                            <input placeholder="" id="homework_link1" type="text" class="validate">
                            <label for="homework_link1"></label>
                            <!--Submit homework link just entered-->
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>



        <div class="row">
            <div class="col s12 m6">
                <h6 id="stool" class="center-align">3.Intro-JS-Hangman</h6>
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Date</div>
                        <div class="collapsible-body"><p>7/20/2016</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="fa fa-sticky-note" aria-hidden="true"></i>Due</div>
                        <div class="collapsible-body"><p>7/27/2016</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="fa fa-stack-overflow" aria-hidden="true"></i>Resources</div>
                        <div class="collapsible-body">
                            <ol>
                                <!--Resources: need handlebars to inject links relative to the homework-->
                                <li class="resources_li_margin"><a href="http://www.w3schools.com/css/css_inline-block.asp">CSS Layouts</a></li>
                                <li class="resources_li_margin"><a href="http://www.w3schools.com/css/css_positioning.asp">CSS Positioning</a></li>
                                <li class="resources_li_margin"><a href="http://www.w3schools.com/css/css_float.asp">CSS Float</a></li>
                            </ol>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="fa fa-github" aria-hidden="true"></i>Project</div>
                        <div class="collapsible-body">
                            <ol>
                                <li><a href="https://github.com/UCF-Coding-Boot-Camp/06-16-VW-Class-Content/tree/master/homework-assignments/03-intro-js-hangman">Github</a></li>
                            </ol>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="fa fa-upload" aria-hidden="true"></i>Submit</div>
                        <div class="collapsible-body">
                            <!--Copy homework link here-->
                            <input placeholder="" id="homework_link1" type="text" class="validate">
                            <label for="homework_link1"></label>
                            <!--Submit homework link just entered-->
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col s12 m6">
                <h6 id="stool" class="center-align">4. jQuery-RPG</h6>
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Date</div>
                        <div class="collapsible-body"><p>7/27/2016</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="fa fa-sticky-note" aria-hidden="true"></i>Due</div>
                        <div class="collapsible-body"><p>8/07/2016</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="fa fa-stack-overflow" aria-hidden="true"></i>Resources</div>
                        <div class="collapsible-body">
                            <ol>
                                <!--Resources: need handlebars to inject links relative to the homework-->
                                <li class="resources_li_margin"><a href="http://www.w3schools.com/css/css_inline-block.asp">CSS Layouts</a></li>
                                <li class="resources_li_margin"><a href="http://www.w3schools.com/css/css_positioning.asp">CSS Positioning</a></li>
                                <li class="resources_li_margin"><a href="http://www.w3schools.com/css/css_float.asp">CSS Float</a></li>
                            </ol>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="fa fa-github" aria-hidden="true"></i>Project</div>
                        <div class="collapsible-body">
                            <ol>
                                <li><a href="https://github.com/UCF-Coding-Boot-Camp/06-16-VW-Class-Content/tree/master/homework-assignments/04-jquery-rpg">Github</a></li>
                            </ol>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="fa fa-upload" aria-hidden="true"></i>Submit</div>
                        <div class="collapsible-body">
                            <!--Copy homework link here-->
                            <input placeholder="" id="homework_link1" type="text" class="validate">
                            <label for="homework_link1"></label>
                            <!--Submit homework link just entered-->
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>



    </div>
</main>
<!--main content-->


     {{/if}}