/*general*/
html {
    font-family: 'Orbitron',sans-serif;
    /*background-color: red;* use this to change page background color*/
}

/*==========================================================================================================*/
body {
    font-size: small;
}

/*==========================================================================================================*/
/*heading shadow*/
h1,h3, h4{
    text-shadow: 10px 10px 10px #ccc;
}
/*==========================================================================================================*/
/*Logo*/
#checkin {
    color:#fc0 ;
}

/*==========================================================================================================*/
/*Welcome to bootcamp spot*/
#welcome {
    margin-top: 2px;
}

/*==========================================================================================================*/
/*form*/
#elements_inside_form {
    padding: 16px;
}

form {
    background-color: #000;
    color: #fff;
    text-align: left;
}

label {
    color: #fff;
}

input[type=text],input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#login_btn {
    background-color: #fc0;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#login_btn:hover {
    opacity: .5;
}

/*==========================================================================================================*/
/*main and side nav*/
nav {
    background-color: #000;
}

/*side nav collapse color*/
.button-collapse i {
    color: #fc0;
}

/*side nav background color*/
.side-nav {
    background-color: #000;
}

/*side nav text color*/
.side-nav li>a {
    color: #fff;
}

.side-nav li>a:hover {
    opacity: .2;
}

/*side nav icon color*/
.side-nav li>a>i.material-icons {
    color: #fc0;
}

nav ul a{
    color: #ffcc00;;
}
/*==========================================================================================================*/
/*carousel*/
.carousel {
    height: 200px;
    margin-top: 20px;
}

/*==========================================================================================================*/
/*footer*/
/*helps keep footer at bottom of page*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/*helps keep footer at bottom of page*/
main {
    flex: 1 0 auto;
}

/*footer background-color*/
footer.page-footer {
    background: #fc0;
}

/*footer icons font size*/
#e,#f,#g {
    font-size: 35px;
}

/*animate footer icons on hover*/
#e:hover {
    animation: bounce 1s;
}

/*animate footer icons on hover*/
#f:hover {
    animation: bounce 1s;
}

/*animate footer icons on hover*/
#g:hover {
    animation: bounce 1s;
}

/*footer media icons*/
#twitter,#facebook,#insta {
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 0;
    margin-left: 20px;
}

/*footer media icons column margin adjust*/
#mediaIcons {
    margin-top: 0;
}

/*footer column margin adjust*/
#schoolcol,#techcol,#contactcol {
    margin-bottom: 0;
    font-size: 10px;
}

/*footer column margin adjust*/
#nick {
    margin-bottom: 0;
}

/*footer icon bounce*/
@keyframes bounce {
    0%,20%,60%,100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

/*==========================================================================================================*/
/*Sign Up icons*/
.fa-gears:before,.fa-cogs:before {
    color: #fc0;
    font-size: 100px;
    text-shadow: 1px 1px 1px #ccc;
}

.fa-user:before {
    color: #fc0;
    font-size: 100px;
}

#fuck {
    padding-right: 50px;
}

#off {
    padding-left: 50px;
}

#slippery {
    padding-right: 15px;
}

#fucker {
    padding-left: 30px;
}

/*==========================================================================================================*/

/*attendance*/
td, th{
    text-align: center;
}
#table{
    margin-top:2%;
    height:250px;
    overflow: auto
}

.fa-clock-o:before{
    /*color: #fc0;*/
    text-shadow: 1px 1px 1px #ccc;
}

#chair{
    padding-top: 20px;
}

#stool{
    margin-bottom:0px;
    margin-top: 0px;
}

/*==========================================================================================================*/
/*Media Queries VIP*/
@media only screen and (min-width: 500px) {
    h1 {
        /*desktop view*/
        margin-top: 3%;
        margin-bottom: 0%;
    }
}

@media only screen and (min-width: 500px) {
    .carousel {
        /*desktop view*/
        margin-top: 5%;
    }
}

@media only screen and (min-width: 500px) {
    form {
        /*mobile view*/
        width: 40%;
        margin-left: 30%;
    }
}


footer.page-footer{
    margin-top:.5%;
}


#temp{
    margin-bottom: 0px;
}


/*==========================================================================================================*/
/*cards-need to clean this shit up*/
.card {
    background-color: #000;
    /*background-color: #fc0;*/
}

h5 {
    /*color: #fc0;*/
    color: #fff;
}

i.right {
    color: #fc0;
}

.card-content {
    /*color: #fc0;*/
}

.resources_li_margin {
    margin: 5px;
}

.collection.with-header .collection-header {
    background-color: #fc0;
    color: #000;
}

/*assignment icon color*/
/*.collapsible-header i{
    color: #fc0;
}*/
/*=========================================================================column margin*/
/*please tweak this as this takes up alot of room--may not have time to fuck with this*/
.col {
    /*margin-top: 20px;*/
    /*    border:2px;
            border:solid;
            color: black;
            background-color: yellow;*/
}

/*=========================================================================column margin*/

h6{
    color: black;
    text-shadow: 10px 10px 10px #ccc;
}


input[type=text]{
    /*width:80%;*/
    /*margin:10px;*/
}

.waves-effect{
    margin:10px;
    margin-top: 2px;
}


.fa-sticky-note:before{
    text-shadow: 1px 1px 1px #ccc;
}


#checkinbtn{
    background-color:#a71616;
}
