.navbar-default{
	background-color: #42f48f;
	
}

.navbar-default .navbar-brand{

	color: black;
	font-family: Comic Sans MS
	font-weight: bold;
}


.panel-default>.panel-heading {
    color: #333;
    background-color: #42f48f;
    border-color: #ddd;
}

.container {
	text-align: center;
	align-content: center;
	font-family: sans-serif;
	border-radius: 0px;
	width: 40%;	
}

.btn-default {
    color: #333;
    background-color: #42f48f;
    border-color: #ccc;
    border-radius: 0px;
}


footer {
    background-color: #42f48f;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    overflow:hidden;
    text-align: center;
}