
{{#if logged_in}}
              <!--main content-->
    <main>
        <div class="container">
            <div class="row" id="bench">
                <div class="col s12 m12 center-align" id="chair">
                    <i aria-hidden="true" class="fa fa-clock-o fa-4x"></i>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12">
                    <h3 class="center-align" id="stool">Time and
                        Attendance</h3>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12" id="couch">
                    <div class="container" id="table">
                        <table class="highlight">
                            <thead>
                            <tr>
                                <th data-field="data-field=&quot;id&quot;">
                                    Date</th>
                                <th data-field="name">Time</th>
                                <th data-field="price">Attendance</th>
                                <th data-field="price">Notes</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>10/20/2016</td>
                                <td>6:25pm</td>
                                <td>On Time</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>10/23/2016</td>
                                <td>6:25pm</td>
                                <td>On Time</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>10/26/2016</td>
                                <td>9:25am</td>
                                <td>On Time</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>10/29/2016</td>
                                <td>7:25pm</td>
                                <td>Late</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>10/29/2016</td>
                                <td>7:25pm</td>
                                <td>Late</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>10/29/2016</td>
                                <td>7:25pm</td>
                                <td>Late</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>10/29/2016</td>
                                <td>7:25pm</td>
                                <td>Late</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>10/29/2016</td>
                                <td>7:25pm</td>
                                <td>Late</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>10/29/2016</td>
                                <td>7:25pm</td>
                                <td>Late</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>10/29/2016</td>
                                <td>7:25pm</td>
                                <td>Late</td>
                                <td></td>
                            </tr><!--rows added to test scroll-->
                            <tr>
                                <td>10/26/2016</td>
                                <td>9:25am</td>
                                <td>On Time</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>10/29/2016</td>
                                <td>7:25pm</td>
                                <td>Late</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>10/29/2016</td>
                                <td>7:25pm</td>
                                <td>Late</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>10/29/2016</td>
                                <td>7:25pm</td>
                                <td>Late</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>10/29/2016</td>
                                <td>7:25pm</td>
                                <td>Late</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>10/29/2016</td>
                                <td>7:25pm</td>
                                <td>Late</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>10/29/2016</td>
                                <td>7:25pm</td>
                                <td>Late</td>
                                <td></td>
                            </tr><!--rows added to test scroll-->
                            </tbody>
                        </table>
                    </div>
                </div>
            <!-- </div><a class="btn btn-danger"  id="checkinbtn">Check In</a> -->
<a class="waves-effect waves-light btn"><i aria-hidden="true" class="fa fa-check-square"></i>button</a>


            <!-- <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a> -->
        </div>
    </main>
    <!--main content-->

   
    
 {{/if}}

           