/*=========================================================================log in form*/
/*padding around elements inside the form */
#elements_inside_form {
    padding: 16px;
}

/* Form style && centering code */
form {
    background-color: black;
    color: white;
    text-align: left;
    /*position: fixed;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*!* bring your own prefixes *!*/
    /*transform: translate(-50%, -50%); */
}

/*label text color*/
label, b {
    color: white;
}

/*input box style */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    /*background-color: grey;*/
}

/*log-in button style */
#login_btn {
    background-color: #fc0;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
/*login button hover effect*/
#login_btn:hover {
    opacity:.5;
}

/*expand log in form when mobile */
@media only screen and (min-width: 500px) {
    form {
        width:40%;
        margin-left: 30%;
    }
}
/*=========================================================================log in form*/

/*please tweak this as this takes up alot of room*/
/*=========================================================================column margin*/
.col{

    /*margin-top: 20px;*/

/*    border:2px;
    border:solid;
    color: black;
    background-color: yellow;*/
}
/*=========================================================================column margin*/


/*=========================================================================cards*/
.card {
    background-color: black;
    /*background-color: #fc0;*/
}

h5 {
/*color: #fc0;*/
color: white;

}
i.right {
    color: #fc0;
}

.card-content{
/*color: #fc0;*/
}



.resources_li_margin{
    margin: 5px;
}



/*assignment icon color*/
/*.collapsible-header i{
    color: #fc0;
}*/

.collection.with-header .collection-header{
    background-color: #fc0;
    color: black;
}



/*=========================================================================cards*/
/*input[type=text], input[type=password]{
    border-color: #fc0;
}*/


.btn, .btn-large {
    background-color: #fc0;
    color: black;
}
i.right {
    color: black;
}
#slide-out{
    background-color: red;
}











/*=========================================================================footer*/
/*helps keep footer at bottom of page*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/*helps keep footer at bottom of page*/
main {
    flex: 1 0 auto;
}

/*footer background-color*/
footer.page-footer{
    background: #fc0;
}

/*footer icons font size*/
#e,#f,#g{
    font-size:35px;
}

/*animate footer icons on hover*/
#e:hover {
    animation: bounce 1s;
}

/*animate footer icons on hover*/
#f:hover {
    animation: bounce 1s;
}

/*animate footer icons on hover*/
#g:hover {
    animation: bounce 1s;
}

/*footer media icons*/
#twitter, #facebook, #insta {
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
}

/*footer media icons column margin adjust*/
#mediaIcons{
    margin-top: 0px;
}

/*footer column margin adjust*/
#schoolcol, #techcol,#contactcol {
    margin-bottom: 0px;
    font-size:10px;
}
/*footer column margin adjust*/
#nick{
    margin-bottom: 0px;
}
/*=========================================================================footer*/

#welcome{
    margin-top: 2px;
}





/*=========================================================================body test size and color (diff color available for mobile)*/

body{
    font-size:small;
}

/*change body color when mobile*/
/*@media only screen and (max-width: 500px) {*/
    /*body {*/
        /*background-color:black;*/
    /*}*/
    /*input[type=text], input[type=password]{*/
        /*border-color: #fc0;*/
    /*}*/
/*}*/

/*=========================================================================body test size and color (diff color available for mobile)*/



.shit{
    position: fixed;
    top: 50%;
    left: 50%;
}









nav {
    height: 80px;
    line-height: 80px;
    background-color: #000;
    color: #fc0;
    margin-bottom: 10px;
}

.brand-logo.center,.button-collapse i {
    color: #fc0;
}

/*change page color*/
html {
    font-family: 'Orbitron',sans-serif;
/*background-color:#fc0;*/
    background-color: #fff;
}

#slide-out {
/*nav bar color*/
    background-color: #000;
}

.clearfix {
    display: block;
/*keeps slide out menu links staight*/
}

.clearfix:hover {
    background-color: #455a64;
}







#header-fixed {
    margin-top: 50px;
}



@media only screen and (min-width: 601px) {
    nav,nav .nav-wrapper i,nav a.button-collapse,nav a.button-collapse i {
        height: 80px;
        line-height: 80px;
    }
}

/*this will create bounce effect===================*/
@keyframes bounce {
    0%,20%,60%,100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

/*li:hover {
    animation: bounce 1s;
}*/








/*testing new header*/
header{
    /*background-color: #fc0;*/
}

/*checkin logo color-need to choose a color and adjustbthe header color to suit*/
#checkin{
    /*color: #fc0;*/
}

/*side nav background color*/
.side-nav{
    background-color: black;
}

.side-nav li>a:hover{
    opacity:.2;
}

/*side nav icon color*/
.side-nav li>a>i.material-icons {
    color: #fc0;
}

/*side nav text color*/
.side-nav li>a {
    color: #fff;
}


.carousel {
    height:200px;
    margin-top: 20px;
}



